.excellence-growlistcategory {
	color: #fcb2aa;
}

.learn-growlistcategory {
	color: #8c66b2;
}

.people-growlistcategory {
	color: #7fffff;
}

.share-growlistcategory {
	color: #66b2ff;
}

.listwidth {
    width: 100%;
}

.category-padding {
	padding: 0.4375rem 0.7375rem;
}

.list-border {
	border-bottom: 0.1rem solid rgba(0, 0, 0, 0.125);
	border-radius: 1px;
	padding-top: 0.7375rem;
}